html {text-align:center;
    margin: 0%;
    padding: 0%;
    width: auto;
    height: auto;

    font-style: normal;
    font-size: 150%;
 
   background-color: #EEEEEE;
 
}

*{
    margin: 0;
    padding: 0%;
  
}
nav{
    background:#393E46;
    height: 75px;
    width: 100%;
    transition: 1.5
    ease

}
 label.logo{
    color:#76EAD7;
    font-size:25px;
    line-height:50px;
    
    font-weight: bold;
}
nav ul
{
    float: right;
    margin-right: 25px;

}
nav ul li 
{
list-style: none;
display: inline-block;
padding: 10px;
}
nav ul li a 
{
    color:#76EAD7;
    font-size: 19px;
    padding: 9px 1px;
    text-decoration: none;
    letter-spacing: 1px;
}

body{
    font-family: serif;
    
}

a:hover{
    background: #000000;
    transition: 1s;
   
}



img{
   width:60%;
   height:400%;
   float: center;
}
h1{
   font-size: 170%; 
   margin: 1%;
   color:rgb(20, 20, 105);
}
p{
    margin: 1%;
}

h2{
    text-align:right;
    padding-right: 2%;
}


@media  screen and (max-width:400px) {
.container{

    flex-direction:column ;
    align-items: center;

}

.nav-links{
    flex-direction: column
 

}
    body{
        font-size:2;
        img{
            width: 100%;height: auto;
            
           
        }
    
    }
    nav.label.logo{
        font: size 2px;;
        text-align: left;
        }  
        nav .ul .li{
            font: size 2px;;
            
        } 

    }
    @media  screen and (max-width:800px) {

        body{
            font-size:3;
            img{
                width: 80%;height: auto; 
              
            }
        
        }
        nav.label.logo{
            font-size:  2px;;
            text-align: left;

            
            }
            nav .ul .li{
                font: size 2px;;
                
            }      
        
        }
        @media  screen and (max-width:1200px) {

            body{
                font-size:4;
                img{
                    width:70%;height: auto;
                   
                }
            
            }
             nav.label.logo{
                font: size 2px;;
                text-align: left;
                } 
                nav .ul .li{
                    font: size 2px;
                    display:inline-block;
                }    
            
            }
            .container{
                display: flex;
                justify-self: space-between;
                align-items: center;
                max-width: 1200px;
                margin: auto;
                padding: 0 20px;
            }


footer{
    background: #393E46;
    font-size: 100%;
    color: #76EAD7;
}
    

